/.idea
.env
/uploaded_files/


/models/*
!/models/Model Download Instructions.md

conversation/__pycache__/
embedding/__pycache__/
language_models/__pycache__/
text_extraction/__pycache__/
utils/__pycache__/
